################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode
/src/.vs
/src/.vscode
/src/Iris.Infrastructure/bin
/src/Iris.Infrastructure/obj
/src/Iris.MongoDB/bin
/src/Iris.MongoDB/obj
/src/IrisUserApi/Iris.Service/obj
/src/IrisUserApi/Iris.Service/bin
/src/IrisUserApi/Iris.Model/obj
/src/IrisUserApi/Iris.Model/bin
/src/IrisUserApi/Iris.FrameCore/obj
/src/IrisUserApi/Iris.FrameCore/bin
/src/IrisUserApi/Iris.UserApi/obj
/src/IrisUserApi/Iris.UserApi/bin
/src/IrisUserApi/Iris.Test/bin
/src/IrisUserApi/Iris.Test/obj
/src/IrisGateway/Iris.Ocelot/bin
/src/IrisGateway/Iris.Ocelot/obj
/src/IrisGateway/Iris.Gateway/bin
/src/IrisGateway/Iris.Gateway/obj