<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="selflog"
            fileName="${basedir}\Nlogs-Staging\${level}s\${shortdate}${level}.log" encoding="utf-8"
            archiveEvery="Hour" archiveAboveSize="2097152"
            keepFileOpen="true" openFileCacheTimeout="30" openFileCacheSize="8"
            cleanupFileName =" false"
            layout="记录时间：${longdate} 日志级别：${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="selflog" />
  </rules>
</nlog>